@font-face {
  font-family: 'luluFont';
  src: url('assets/fonts/font.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ffffff;
  color: #000000;
  font-family: luluFont, sans-serif;
  text-transform: lowercase;
}

.app {
  text-align: center;
  padding: 2rem;
  margin: 3.5rem;
}

header {
  border-bottom: 1pt solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

/* Link styles */
header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

header nav ul li {
  margin-right: 15px;
}

header nav ul li a {
  text-decoration: none;
  color: black; /* Default color */
}

header nav ul li a:hover {
  text-decoration: underline;
}

header nav ul li a:visited,
header nav ul li a:active {
  color: black; /* Prevent color change */
  text-decoration: none;
}

header h1 {
  font-size: 3rem;
  margin: 1rem 0;
}

main h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.projects-list {
  list-style-type: none;
  padding: 0;
}

.projects-list li {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

.projects-list li a {
  text-decoration: none;
  color: #007bff;
}

.projects-list li a:hover {
  text-decoration: underline;
}

main a {
  color: #007bff;
  text-decoration: none;
  font-size: 1rem;
}

main a:hover {
  text-decoration: underline;
}
